
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="textbox">
    <h1><%= title %></h1>
    <p>You can review your data here</p>
    <p>Your first name is: <%=firstName %></p>
    <p>Your last name is: <%=lastName %></p>
	<p>Your phone number is: <%=phoneNumber %></p>
	</div>
  </body>
  </html>
